*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #ffffff;
    cursor: none;
}

.cursor-dot{
    width: 10px;
    height: 10px;
    /* border: 3px solid rgb(68, 68, 68); */
    background-color: rgb(0, 0, 0);
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 3px solid rgb(68, 68, 68);
}
.cursor-outline2{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(68, 68, 68);
}

.cursor-dot,
.cursor-outline,
.cursor-outline2{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}